QMainWindow {
	background-color: #101111;
	padding: 0px;
    margin: 0px;
}

/* Header bouton */
QPushButton#headerButton {
    background-color: #2c2f33;
    color: white;
    border: none;
    padding: 4px 8px;
    text-align: left;
    font-weight: bold;
}

QPushButton#headerButton:checked {
    qproperty-icon: url(:/icons/arrow-down.png);
}

QPushButton#headerButton:!checked {
    qproperty-icon: url(:/icons/arrow-right.png);
}

/* Contenu (la zone collapsable) */
ColorLabelList > QWidget {
    background-color: #1e2022;
    border-top: 1px solid #444;
}

/* Pastille couleur */
QLabel#colorCircle {
    border: 1px solid #555;
}

/* Texte label */
QLabel#colorLabel {
    color: white;
}

#colorListContainer {
	background-color: #111;
    border: 1px solid #333;
}
