QMainWindow {
	background-color: #101111;
	padding: 0px;
    margin: 0px;
}

/* Header bouton */
QPushButton#headerButton {
    background-color: #2c2f33;
    color: white;
    border: none;
    padding: 4px 8px;
    text-align: left;
    font-weight: bold;
}

QPushButton#headerButton:checked {
    qproperty-icon: url(:/icons/arrow-down.png);
}

QPushButton#headerButton:!checked {
    qproperty-icon: url(:/icons/arrow-right.png);
}

/* Contenu (la zone collapsable) */
ColorLabelList > QWidget {
    background-color: #1e2022;
    border-top: 1px solid #444;
}

/* Pastille couleur */
QLabel#colorCircle {
    border: 1px solid #555;
}

/* Texte label */
QLabel, QCheckBox, QLabel#colorLabel {
    color: white;
}

#colorListContainer {
	background-color: #111;
    border: 1px solid #333;
}

QRadioButton#colorListButton {
    min-height: 30px;
    spacing: 8px;
    color: white;
    padding-left: 4px;
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
}

QRadioButton#colorListButton:hover {
    background-color: #444444;
}

QRadioButton#colorListButton::indicator {
    width: 30px;
    height: 12px;
    border-radius: 5px;
    background-color: {color_hex};
}

QRadioButton#colorListButton::indicator:checked {
    border: 2px solid #4287f5;
}

QRadioButton#colorListButton:checked { 
    background-color: #555555;
}

/* QTabWidget général */
QTabWidget {
    background-color: #111;
    border: 1px solid #333;
}

/* Zone des tabs */
QTabBar::tab {
    background-color: #2c2f33;
    color: white;
    padding: 4px 8px;
    border: 1px solid #444;
    border-bottom: none;
    min-width: 20px;
    max-width: 20px;
}

/* Tab sélectionné */
QTabBar::tab:selected {
    background-color: #3a3d42;
    min-width: 60px;
    max-width: 60px;
}

/* Tab hover */
QTabBar::tab:hover {
    background-color: #3a3d42;
}

/* Contenu de la tab */
QTabWidget::pane {
    background-color: #1e2022;
    border: 1px solid #333;
    top: -1px; /* pour aligner avec les tabs */
}
